body {
    background: #394041;
    font-family: "Microsoft YaHei UI Light", serif;
    width: auto;
}

.container{
    width: 100%;
    display: flex;
    min-height: 1000px;
}

.container div {
    margin: 10px;
    width: auto;
}

#menu{
    background: #1c1e1e;
    min-height: 100px;
    width: 170px;
    color: white;
}

#main{
    background: #1c1e1e;
    min-height: 250px;
    width: 100%;
    color: white;
}

.soon{
    background: #0c0c0c;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    color: white;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 900;
}

#topL{
    float:left;
}

#topR{
    float:right;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 10px;
    transform: translateY(-25%);
}

#company{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #4CAF50;
}

#companyPhoto{
    width: 190px;
    height: 35px;
    padding: 21px;
}

.option{
    float: bottom;
    font-size: 20px;
    font-weight: 900;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
}
.option:hover{
    background: #2d2d2d;
    cursor: pointer;
}

#people{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.person{
    background: #0c0c0c;
    width: 33% !important;
    padding: 20px;
    font-size: 20px;
}
.personText{
    text-align: center;
}

.person_img{
    width: 175px;
    border-radius: 100%;
    border: 3px solid white;
}

.personPhoto{
    padding: 15px;
}

.bar{
    text-align: center;
    background: #4CAF50;
    height: auto;
    padding: 5px;
    font-weight: bold;
    font-size: 45px;
}

#login{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid black;
}

#signin{
    background-color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid black;
}

.brake{
    height: 60px;
}

.dropdown-toggle {
    white-space: normal;
    font-family: "Microsoft YaHei UI Light", serif;
    width: 125px;
}

.dropdown-item {
    padding: 0.25rem;
    width: 75%;
}

.btn-secondary {
    background-color: #1c1e1e;
}

.btn {
    border: none;
    font-size: 1.4rem;
    line-height: 1.4rem
}

.btn-block {
    width: 93.5%;
}

* {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.form-control {
    width: 93%;
}

*:before,
*:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#text {
    color: white;
    float: bottom;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    opacity: 0.8;
    text-align: center;
}
:root{
    --primary: #4CAF50 !important;
}
.btn-primary {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}

.btn-primary:hover {
    background-color: #106900 !important;
    border-color: #106900 !important;
}

a:hover {
    color: #106900;
}

a {
    color: #35c71c;
}

*:before {
    background-color: #4CAF50;
}

label {
    display: block;
    margin-top: 10px;
}
.card-container.card {
    max-width: 350px !important;
    padding: 30px;
}

.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

.card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.alert.alert-danger {
    width: 88%;

}
.error-feedback {
    color: red;
}